
.css-navbar{
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40vh;
    overflow: hidden;
    z-index: 10;
    right: -100%;
    transition: all 0.5s ease;
}

.css-navbar-container{ 
    position: relative;
    height: 100%;
}


.css-navbar.active{
    z-index: 10;
    right: 0;
    transition: all 0.5s ease;
}

.css-hamburger{
    position: fixed;
    font-size: 40px;
    color: #FFD700;
    position: absolute;
    right: 20px;
    z-index: 15;
    position: fixed;
}
.css-nav-menu{
    list-style: none;
    display: flex;
    text-align: center;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    position: absolute;
    opacity: 0.6;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
.css-nav-menu.active{
    display: flex;
    flex-direction: column;
    opacity: 1;
    z-index:  10;
    height: 100%;
}
 
.css-title-Home,
.css-title-Skills{
    text-decoration: none;

}

.nav-item{
    font-size: 5vh;
}
.nav-item a{
    color: white;
}
.nav-item :hover{
    background-color: rgb(112, 112, 112);
    transition: all 0.2s ease-out;
    border-radius: 5px;
 
}

